/* Refs 

font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Inconsolata', monospace;

*/


/* ////////////////////////////////
        GLOBAL STYLES
//////////////////////////////////*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat+Subrayada|Rubik+Mono+One');

body {
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Rubik Mono One', sans-serif;
}

section {
    font-family: 'Inconsolata', monospace;
    color: #37474f;
}

.we-are-540-body-font,
#latest-blog-posts {
    font-family: 'Inconsolata', monospace;
}

.hero-message, {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4.5em;
    font-style: bold;
    color: #37474f;
}

.gradient-words {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

/*////////////////////////////////
        FRONT PAGE HERO
//////////////////////////////////*/

#hero-our-way {
    height: 100vh;
}


/*////////////////////////////////
        WHAT WE DO SECTION
//////////////////////////////////*/

.our-message {
    font-family: 'Rubik Mono One', sans-serif;
}

#what-we-do,
#latest-blog-posts {
    background-color: #37474f;
}

#what-we-do p, h2 {
    color: white;
}

/* Font Awesome Custom Colors */

.fa-rocket {
    color: rgb(150, 204, 41);
    text-align: center;
}

.fa-cubes {
    color: rgb(0, 156, 243);
}

.fa-heart {
    color: rgb(255, 191, 2);
}

.fa-dot-circle-o {
    color: rgb(237, 0, 130);
}


/* ////////////////////////////////
    FRONT PAGE LATEST BLOG POST
//////////////////////////////////*/

/* ////////////////////////////////
    ABOUT PAGE
//////////////////////////////////*/
.what-we {
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
}

.what-its {
    background-color: lightgrey;
    padding: 5px;
    margin: 5px
}



/* ////////////////////////////////
    BLOG PAGE
//////////////////////////////////*/

#blog-hero h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4.5em;
    font-style: bold;
    color: #37474f;
}

#blog-hero p {
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    color: #37474f;
}

#blog-hero {
    background-image: linear-gradient(to right, rgb(22, 214, 217), rgb(150, 204, 41));
}





/* ////////////////////////////////
    Footer Content
//////////////////////////////////*/
footer,
footer h5 {
    font-family: 'Inconsolata', monospace;
    color: black;
    
}

/* ////////////////////////////////
    TALK TO US / CONTACT PAGE
//////////////////////////////////*/
.talk-to-us h2 {
    color: #37474f
}


/* ////////////////////////////////
    MODAL CONTACT FORM
//////////////////////////////////*/
#contactButton option  {
    color: #37474f
}




