/* Refs 

font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Inconsolata', monospace;

*/


/* ////////////////////////////////
        GLOBAL STYLES
//////////////////////////////////*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat+Subrayada|Rubik+Mono+One');


body {
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Rubik Mono One', sans-serif;
}
section {
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}

#we-are-540 {
    font-family: 'Inconsolata', monospace;
}

.hero-message {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4.5em;
    font-style: bold;
    color: black;
}

.gradient-words {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}


/* Navigation */

.sticky-header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
}


/*////////////////////////////////
        WHAT WE DO SECTION
//////////////////////////////////*/


.our-message {
    font-family: 'Rubik Mono One', sans-serif;
}



/* Font Awesome Custom Colors */

.fa-rocket {
    color: rgb(150, 204, 41);
    text-align: center;
}

.fa-cubes {
    color: rgb(0, 156, 243);
}

.fa-heart {
    color: rgb(255, 191, 2);
}

.fa-dot-circle-o {
    color: rgb(237, 0, 130);
}

.crafting-side {
    border-right: 1px solid lightgrey;
}


/* ////////////////////////////////
    FRONT PAGE LATEST BLOG POST
//////////////////////////////////*/


#our-process {
    background-color: #37474f;
}

#our-process h1 {
    color: white;
}

